
html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; }
#map-container { height: 100%; width: 70%; float: left; }
#map-canvas { min-height: 100%; }
#building-info { padding-left: 10px; height: 100%; }
#close-info { text-align: right; }
.cycle-slideshow { height: 200px; }

.side-bar {
	width: 30%;
	height: 100%;
	float: right;
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
}

.menu-bar {
	width: 100%;
	display: block;
	background-color: #065540; /* dark green */
	color: white;
	text-align: center;
	overflow: hidden;
	font-family: sans-serif;
}

.menu-bar .map-title {
	font-size: 1.5em;
	line-height: 45px;
}

.menu-bar .button {
	font-size: 2em;
	user-select: none;
	cursor: pointer;
}

.menu-bar .menu-button {
	display: none;
}

.search-button {
	float: right;
	padding: 10px;
}

.search {
	display: none;
}
	
.search.opened {
	width: 100%;
	display: block;
}

.search input[type=text] {
	width: 100%;
	height: 2em;
	padding: 0 .5em;
	margin: 0;
	display: block;
	float: left;
	border: 1px solid lightgrey;
}

.search .search-options {
	clear: both;
}

#search-results {
	display: none;
	position: fixed;
	background-color: white;
	width: 15em;
	max-height: 90%;
	overflow-y: auto;
}

#search-results > div{
	padding: .5em;
	border-bottom: 1px solid darkgrey;
	overflow-x: auto;
	cursor: pointer;
}

#search-results > div:hover {
	background-color: lightgrey;
}

.menu {
	background-color: white;
}

.layer-option .key {
	display: none;
	padding: .25em;
}

.layer-option .key p {
	text-align: center;
}

.layer-option .key.opened {
	display: block;
}

.layer-option .key span {
	width: 10px;
	height: 10px;
	display: inline-block;
}

.menu h1 {
	background-color: lightgrey;
	padding-left: 1em;
	border-bottom: solid 3px black;
	margin: 0;
}

.layer-button {
	background-color: lightgrey;
	font-size: 2em;
	text-align: left;
	cursor: pointer;
	width: 100%;
	padding-left: 1em;
	border-top: solid 1px black;
	font-family: sans-serif;
}

.menu .layer-option:first-of-type .layer-button {
	border-top: none;
}

.detail {
	clear: both;
	display: none;
}

.detail.opened {
	display: block;
}

.detail-button {
	padding-top: 1em;
	width: 100%;
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
}

.layer-option .layer-option .layer-button {
	background-color: grey;
	padding-left: 2em;
}

/* mobile */
@media(max-width: 750px) {

	.side-bar {
		position: absolute;
		float: right;
		min-height: 50px;
		height: auto;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 1;
		background: none;
		overflow: visible;
	}

	.menu-bar .menu-button {
		display: block;
		float: left;
	}

	.search, .key, .detail {
		background-color: white;
	}

	.search input[type=text] {
		margin: 1em 0 .5em 0;
	}
	.search .search-options {
		padding: .5em;
	}

	.menu {
		height: 0px;
		overflow-y: hidden;
		transition: height 0.3s ease-in;
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	.menu.opened {
		height: 100%;
		background: none;
		overflow-y: auto;
	}

	.detail {
		display: none;
	}

	.detail.opened {
		display: block;
	}
	
	#map-container {
		width: 100%;
	}
}