
html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; }
#map-container { height: 100%; width: 70%; float: left; }
#map-canvas { min-height: 100%; }
#building-info { padding-left: 10px; height: 100%; }
#close-info { text-align: right; }
.cycle-slideshow { height: 200px; }
#info {
	width: 30%;
	height: 100%;
	float: right;
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
}

.info-button {
	display: none;
	cursor: pointer;
}

#search-results {
	display: none;
	position: absolute;
	background-color: white;
	width: 15em;
	max-height: 90%;
	overflow-y: auto;
}

#search-results > div{
	padding: .5em;
	border-bottom: 1px solid darkgrey;
	overflow-x: auto;
	cursor: pointer;
}

#search-results > div:hover {
	background-color: lightgrey;
}

.layer-option .key {
	display: none;
	padding: .25em;
}

.layer-option .key p {
	text-align: center;
}

.layer-option .key.opened {
	display: block;
}

.layer-option .key span {
	width: 10px;
	height: 10px;
	display: inline-block;
}

.layer-button {
	background-color: green;
	font-size: 2em;
	text-align: left;
	cursor: pointer;
	float: left;
	width: 100%;
	margin: -1px;
	padding-left: 1em;
	border: solid 1px black;
}

.detail {
	clear: both;
}

.detail-button {
	padding-top: 1em;
	width: 100%;
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
}

.layer-option .layer-option .layer-button {
	background-color: grey;
	padding-left: 2em;
}

/* mobile */
@media(max-width: 750px) {
	.info-button {
		width: 100%;
		height: 50px;
		display: block;
		background-color: grey;
		font-size: 2em;
	}
	#info {
		position: absolute;
		float: right;
		height: 50px;
		width: 100%;
		transition: height 0.3s ease-in;
		left: 0;
		top: 0;
		z-index: 1;
		overflow-y: hidden;
		background: none;
	}

	#info.opened {
		height: 100%;
		background: none;
		overflow-y: auto;
	}

	.search, .key {
		background-color: white;
	}

	#map-container {
		width: 100%;
	}
}