
html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; }
#map-container { height: 100%; width: 100%; margin-bottom: 20px; float: left; }
#map-canvas { min-height: 100%; }
#info { float: left; height: 100%; display: none; }
#building-info { padding-left: 10px; height: 100%; }
#close-info { text-align: right; }
.cycle-slideshow { height: 200px; }
#info.opened { width: 30%; display: block; }
#map-container.shared { width: 70%; }

#buildings-button, #parking-button {
	background-color: green;
	font-size: 2em;
	text-align: center;
	cursor: pointer;
	float: left;
	width: 50%;
}

@media(max-width: 500px) {
	#info.opened { width: 100%; height: 30%; }
	#map-container.shared { width: 100%; height: 70%; }
}