
html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; }
#map-container { height: 100%; width: 70%; float: left; }
#map-canvas { min-height: 100%; }
#building-info { padding-left: 10px; height: 100%; }
#close-info { text-align: right; }
.cycle-slideshow { height: 200px; }
#info {
	width: 30%;
	height: 100%;
	float: right;
	background-color: white;
	overflow: hidden;
}

.info-button {
	display: none;
	cursor: pointer;
}

.layer-option .key {
	display: none;
}

.layer-option .key.opened {
	display: block;
}

.layer-option .key span {
	width: 10px;
	height: 10px;
	display: inline-block;
}

.layer-button {
	background-color: green;
	font-size: 2em;
	text-align: center;
	cursor: pointer;
	float: left;
	width: 100%;
	margin: -1px;
	border: solid 1px black;
}

@media(max-width: 750px) {
	.info-button {
		width: 100%;
		height: 50px;
		display: block;
		background-color: grey;
		font-size: 2em;
	}
	#info {
		position: absolute;
		float: right;
		height: 50px;
		width: 100%;
		transition: height 0.3s ease-in;
		left: 0;
		top: 0;
		z-index: 1;
		background: none;
	}

	#info .layer-option {
		visibility: hidden;
	}

	#info.opened {
		height: auto;
		background-color: white;
	}

	#info.opened .layer-option {
		visibility: visible;
	}

	#map-container {
		width: 100%;
	}
}